<a href="https://colab.research.google.com/github/lophiraalata/data-analytics-micro-credential/blob/main/Day3_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Conditionals

  IF... ELIF... ELSE Statements

""" 
if the conditon is true, then the program will do something 

if(condition)
  do something 
  """"

In [28]:
"""
if the condition is true, then the program will do something

if(condition)
  do something
  """

'\nif the condition is true, then the program will do something\n\nif(condition)\n  do something\n  '

In [1]:
if 3 > 2:
  print("right")

right

In [4]:
if 4 > 7:
  print("right")
else:
  print("left")

left

In [7]:
drink = "tea"

if drink == "coffee":
  print("Coffee is the fuel of programmers!")
elif drink == "tea":
  print("Tea helps programmers write better code!")

Tea helps programmers write better code!

In [ ]:
drink = "coke"

if drink == "coke":
  print()

## Loops

### For Loops

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]

In [12]:
for num in my_list:
  if num % 2 != 0:
    print(num)

1
3
5

In [11]:
my_list = [1, 2, 3, 4, 5, 6]
list_sum = 0

for num in my_list:
  list_sum = list_sum + num
  print(list_sum)

1
3
6
10
15
21

In [13]:
my_string = "hello world"

In [14]:
for x in my_string:
  print(x)

h
e
l
l
o

w
o
r
l
d

In [15]:
my_list = [(1,2), (3,4), (5,6), (7,8)]
len(my_list)

4

In [17]:
for tup in my_list:
  print(tup)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [18]:
for a,b in my_list:
  print(a,b)

1 2
3 4
5 6
7 8

In [19]:
for a,b in my_list:
  print(a)

1
3
5
7

In [20]:
my_list = [(1,2,3), (4,5,6), (7,8,9)]

In [21]:
for a,b,c in my_list:
  print(b,c)

2 3
5 6
8 9

In [22]:
my_dict = {"k1":1, "k2":2, "k3":3}

In [23]:
for i in my_dict:
  print(i)

k1
k2
k3

In [24]:
my_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [25]:
for i in my_dict.items():
  print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [26]:
for a,b in my_dict.items():
  print(b)

1
2
3

In [27]:
# how to define a for loop
# for loop  with,
# list
# string
# tuple
# dictionary

### While Loops

In [32]:
i = 0

while i < 5:
  print(i)
  i = i + 1

0
1
2
3
4

In [33]:
i = 0

while i < 5:
  print(i)
  i = i + 1
else:
  print("i is not less than 5")

0
1
2
3
4
i is not less than 5

In [ ]:
i = 10

while i < 5:
  print(i)

In [ ]:
"""
# as long as i is less than 5, print i
the momen
"""

## Pass, Break and Continue

In [39]:
i = [1, 2, 3, 4, 5]

for items in i:
  # comment
  pass
print("I will work after")

I will work after

In [37]:
my_string = "hello world"

for letters in my_string:
  if letters == "e":
    continue
  print(letters)

h
l
l
o

w
o
r
l
d

In [38]:
i = 0
while i < 5:
  if i == 3:
    break 
  print(i)
  i = i + 1

0
1
2

## Most used Built-in functions in Python

### 1) Range function

In [41]:
for num in range(10):
  print(num)

0
1
2
3
4
5
6
7
8
9

In [42]:
for num in range(3, 10):
  print(num)

3
4
5
6
7
8
9

In [43]:
for num in range(0, 11, 2):
  print(num)

0
2
4
6
8
10

In [45]:
my_list = [1,2,4,5,6,7,8,9,10]
range(10)
list(range(10))
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2) Enumerate

*it gives back us an index count and object itself*

In [ ]:
for items in enumerate(word):
  print(items)

In [ ]:
for a,b in enumerate(word):
  print(a)
  print(b)
  print("\n")

### 3) Zip

In [46]:
list1 = [1,2,3,4,5]
list2 = ["a", "b", "c", "d", "e"]
list3 = ["a", "b", "c"]

In [47]:
list4 = zip(list1, list2)

In [48]:
print(list4)

<zip object at 0x7f58974ebcd0>

In [49]:
for items in zip(list1, list2):
  print(items)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [50]:
for a,b in zip(list1, list2):
  print(items)

(5, 'e')
(5, 'e')
(5, 'e')
(5, 'e')
(5, 'e')

In [51]:
for a,b in zip(list1, list2):
  print(a,b)

1 a
2 b
3 c
4 d
5 e

In [52]:
for items in zip(list1, list2, list3):
  print(items)

(1, 'a', 'a')
(2, 'b', 'b')
(3, 'c', 'c')

In [53]:
for a,b,b in zip(list1, list2, list3):
  print(b)

a
b
c