<a href="https://colab.research.google.com/github/lophiraalata/data-analytics-micro-credential/blob/main/Workout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Practice Problems

### Display numbers divisible by 5 from a list

In [15]:
num_list = [1, 5, 27, 53, 92, 100, 125, 57, 50]

In [29]:
def special_numbers(num_list):
  """
  Description: this function prints out numbers divisible by five from a given list of numbers
  Created by: isaiah
  Input: list of numbers
  Output: Numbers that are divisible by 5
  """
  num = []
  for i in num_list:
    if i % 5 == 0:
      num.append(i)
    return(num)

In [17]:
special_numbers([])

### Check if the first and last number of a list is the same

In [23]:
num_list = [10, 20, 33, 46, 55]

def FirstLastEqual(num_list):
  """
  Description: this function tells whether it is true or false that the first and last number of a list is the same
  Created by: jordan, isaiah, jaden, and ahnaf
  Input: list of numbers
  Output: string stating if the first and last numbers in a list are equal
  """

num_list = [2, 6, 3, 8, 5, 32]
if num_list[len(num_list)-1] == num_list[0]:
  print("the first and last number are equal!")
else:
  print("the first and last number are not equal!")

the first and last number are not equal!

In [28]:
def first_last_same(numberlist):
  print("given list:", (numberlist)

  first_num = numberlist[0]
  last_num = numberlist[-1]

  if first_num == last_num:
    return True
  else:
    return False

SyntaxError: ignored

In [ ]:
numbers_x = [10, 20, 30, 40, 10]
print("result is ", first_last_same(numbers_x))

In [ ]:
mumbers_y = []

### Display the first and last colors from a given list

In [41]:
colorlist = ["red", "green", "blue", "orange", "yellow", "black"]
print("%s %s"%(colorlist[0], colorlist[-1]))

red black

### Input an integer (n) and computes the value n + nn + nnn

In [42]:
a = int(input("input an integer : "))
n1 = int("%s" % a)
n2 = int("%s%s" % (a, a))
n3 = int)"&s%s%s" % (a, a, a))
print ()

In [46]:
2 + 2*2 + 2*2*2

14

In [47]:
3 + 3*3 + 3*3*3

39